*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.2rem;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(240, 248, 226);
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
#profileContainer{
    width: 100%;
    background: rgb(223, 216, 217);
}
.search{
    display: flex;
    width: 50%;
    max-width: 90%;
}
.about{
    font-size: 16px;
}
.about p{
    font-size: 15px;
}
.search input{
    width: 100%;
    padding: 0.5rem 1rem;
}
.search input:focus-visible{
    outline: ipx solid rgb(156, 99, 156);;
}
.primary-btn{
    padding: 0.5rem 1rem;
    background: rgb(156, 99, 156);
    color: white;
    border: none;
}
.primary-btn:hover{
    background: rgba(110, 21, 110, 0.801);
}
.primary-btn:active{
    background: rgb(228, 157, 228); 
    /* during pressing  */
}
/* card */
.profile-box{
    height: 350px;
    width: 65%;
    padding: 4rem 2rem;
    box-shadow: 0 0 1rem rgba(110, 21, 110, 0.801);
    transition: 0.5s ease-in;
}

.profile-box:hover{
    transform: rotate(-2deg) scale(1.01);
    transition: 0.5s ease-in;
}

.top-section{
    display: flex;
    justify-content: space-between;
}
.top-section button{
    align-self: center;
}
.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left h1{
    font-size: 1.5rem;
}
.avatar{
    height: 5rem;
    width:5rem;
    border-radius: 50%;
}
.self h1{
    font-size: 22px;
}
.avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about{
    margin: 2rem;
}
.status{
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.status-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}